In [1]:
import json
from pymongo import MongoClient

In [2]:
client = MongoClient('mongodb://admin:admin@192.168.0.107:27017/')

In [3]:
db = client['books']
collection = db['books_toscrape_com']

In [4]:
with open('books.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

In [5]:
for item in data:
    collection.insert_one(item)

In [6]:
all_docs = collection.find()
first_doc = all_docs[0]
print(first_doc)

{'_id': ObjectId('6640f385efe9c1d89cd01d61'), 'category': 'Travel', 'name': "It's Only the Himalayas", 'price': 45.17, 'available': 19, 'description': '“Wherever you go, whatever you do, just . . . don’t do anything stupid.” —My MotherDuring her yearlong adventure backpacking from South Africa to Singapore, S. Bedford definitely did a few things her mother might classify as "stupid." She swam with great white sharks in South Africa, ran from lions in Zimbabwe, climbed a Himalayan mountain without training in Nepal, and wa “Wherever you go, whatever you do, just . . . don’t do anything stupid.” —My MotherDuring her yearlong adventure backpacking from South Africa to Singapore, S. Bedford definitely did a few things her mother might classify as "stupid." She swam with great white sharks in South Africa, ran from lions in Zimbabwe, climbed a Himalayan mountain without training in Nepal, and watched as her friend was attacked by a monkey in Indonesia.But interspersed in those slightly more crazy moments, Sue Bedfored and her friend "Sara the Stoic" experienced the sights, sounds, life, and culture of fifteen countries. Joined along the way by a few friends and their aging fathers here and there, Sue and Sara experience the trip of a lifetime. They fall in love with the world, cultivate an appreciation for home, and discover who, or what, they want to become.It\'s Only the Himalayas is the incredibly funny, sometimes outlandish, always entertaining confession of a young backpacker that will inspire you to take your own adventure. ...more'}

In [7]:
pretty_json = json.dumps(first_doc, indent=4, default=str)
print(pretty_json)

{
    "_id": "6640f385efe9c1d89cd01d61",
    "category": "Travel",
    "name": "It's Only the Himalayas",
    "price": 45.17,
    "available": 19,
    "description": "\u201cWherever you go, whatever you do, just . . . don\u2019t do anything stupid.\u201d \u2014My MotherDuring her yearlong adventure backpacking from South Africa to Singapore, S. Bedford definitely did a few things her mother might classify as \"stupid.\" She swam with great white sharks in South Africa, ran from lions in Zimbabwe, climbed a Himalayan mountain without training in Nepal, and wa \u201cWherever you go, whatever you do, just . . . don\u2019t do anything stupid.\u201d \u2014My MotherDuring her yearlong adventure backpacking from South Africa to Singapore, S. Bedford definitely did a few things her mother might classify as \"stupid.\" She swam with great white sharks in South Africa, ran from lions in Zimbabwe, climbed a Himalayan mountain without training in Nepal, and watched as her friend was attacked by a monkey in Indonesia.But interspersed in those slightly more crazy moments, Sue Bedfored and her friend \"Sara the Stoic\" experienced the sights, sounds, life, and culture of fifteen countries. Joined along the way by a few friends and their aging fathers here and there, Sue and Sara experience the trip of a lifetime. They fall in love with the world, cultivate an appreciation for home, and discover who, or what, they want to become.It's Only the Himalayas is the incredibly funny, sometimes outlandish, always entertaining confession of a young backpacker that will inspire you to take your own adventure. ...more"
}

In [8]:
count = collection.count_documents({})
print(f'Число записей в базе данных: {count}')

Число записей в базе данных: 1000

In [37]:
query = {'category': 'Music'}
print(f"Количество документов c категорией 'Music': {collection.count_documents(query)}")

Количество документов c категорией 'Travel': 0

In [10]:
query = {'category': 'Travel'}
projection = {"name": 1, "price": 1, "available": 1, "_id": 0}
proj_docs = collection.find(query, projection)
for doc in proj_docs:
    print(doc)

{'name': "It's Only the Himalayas", 'price': 45.17, 'available': 19}
{'name': 'Full Moon over Noah’s Ark: An Odyssey to Mount Ararat and Beyond', 'price': 49.43, 'available': 15}
{'name': 'See America: A Celebration of Our National Parks & Treasured Sites', 'price': 48.87, 'available': 14}
{'name': 'Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel', 'price': 36.94, 'available': 8}
{'name': 'Under the Tuscan Sun', 'price': 37.33, 'available': 7}
{'name': 'A Summer In Europe', 'price': 44.34, 'available': 7}
{'name': 'The Great Railway Bazaar', 'price': 30.54, 'available': 6}
{'name': 'A Year in Provence (Provence #1)', 'price': 56.88, 'available': 6}
{'name': 'The Road to Little Dribbling: Adventures of an American in Britain (Notes From a Small Island #2)', 'price': 23.21, 'available': 3}
{'name': 'Neither Here nor There: Travels in Europe', 'price': 38.95, 'available': 3}
{'name': '1,000 Places to See Before You Die', 'price': 26.08, 'available': 1}

In [11]:
AVAILABLE_1 = 2
AVAILABLE_2 = 20
query = {"available": {"$lt": AVAILABLE_1}}
print(f"Количество документов c категорией available < {AVAILABLE_1}: {collection.count_documents(query)}")
query = {"available": {"$gte": AVAILABLE_2}}
print(f"Количество документов c категорией available >= {AVAILABLE_2}: {collection.count_documents(query)}")

Количество документов c категорией available < 2: 98
Количество документов c категорией available >= 20: 5

In [12]:
WORD = "America"
query = {"name": {"$regex": WORD, "$options": "i"}}
print(f"Количество документов, содержащих '{WORD}': {collection.count_documents(query)}")

Количество документов, содержащих 'America': 25

In [13]:
query = {"category": {"$in": ["Travel", "Romance", "Science Fiction"]}}
print(f"Количество документов в категории 'category': {collection.count_documents(query)}")

Количество документов в категории 'category': 62

In [14]:
query = {"category": {"$all": ["Mystery"]}}
print(f"Количество документов в категории 'category': {collection.count_documents(query)}")

Количество документов в категории 'category': 32

In [15]:
query = {"category" : {"$ne": "Mystery"}}
print(f"Количество документов в категории 'category': {collection.count_documents(query)}")

Количество документов в категории 'category': 968

In [16]:
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)
from clickhouse_driver import Client

In [17]:
client = Client('192.168.0.107')

In [22]:
client.execute('CREATE DATABASE IF NOT EXISTS books')

[]

In [23]:
client.execute('''
CREATE TABLE IF NOT EXISTS books.books_toscrape_com (
    id String,
    category String,
    name String,
    price Float32,
    available Int16,
    description String
) ENGINE = MergeTree()
ORDER BY id
''')

[]

In [24]:
for item in data:
    client.execute("""
    INSERT INTO books.books_toscrape_com (
        id, category, name,
        price, available, description
    ) VALUES""",
    [(item['name'],
      item['category'] or "",
      item['name'] or "",
      item['price'] or 0,
      item['available'] or 0,
      item['description'] or "")])

In [25]:
result = client.execute("SELECT * FROM books.books_toscrape_com")
print("Вставленная запись:", result[0])

Вставленная запись: ('The Long Shadow of Small Ghosts: Murder and Memory in an American City', 'Crime', 'The Long Shadow of Small Ghosts: Murder and Memory in an American City', 10.970000267028809, 15, 'In Cold Blood meets Adrian Nicole LeBlanc’s Random Family: A harrowing, profoundly personal investigation of the causes, effects, and communal toll of a deeply troubling crime—the brutal murder of three young children by their parents in the border city of Brownsville, Texas.On March 11, 2003, in Brownsville, Texas—one of America’s poorest cities—John Allen Rubio and Angel In Cold Blood meets Adrian Nicole LeBlanc’s Random Family: A harrowing, profoundly personal investigation of the causes, effects, and communal toll of a deeply troubling crime—the brutal murder of three young children by their parents in the border city of Brownsville, Texas.On March 11, 2003, in Brownsville, Texas—one of America’s poorest cities—John Allen Rubio and Angela Camacho murdered their three young children. The apartment building in which the brutal crimes took place was already rundown, and in their aftermath a consensus developed in the community that it should be destroyed. It was a place, neighbors felt, that was plagued by spiritual cancer. In 2008, journalist Laura Tillman covered the story for The Brownsville Herald. The questions it raised haunted her, particularly one asked by the sole member of the city’s Heritage Council to oppose demolition: is there any such thing as an evil building? Her investigation took her far beyond that question, revealing the nature of the toll that the crime exacted on a city already wracked with poverty. It sprawled into a six-year inquiry into the larger significance of such acts, ones so difficult to imagine or explain that their perpetrators are often dismissed as monsters alien to humanity. With meticulous attention and stunning compassion, Tillman surveyed those surrounding the crimes, speaking with the lawyers who tried the case, the family’s neighbors and relatives and teachers, even one of the murderers: John Allen Rubio himself, whom she corresponded with for years and ultimately met in person. The result is a brilliant exploration of some of our age’s most important social issues, from poverty to mental illness to the death penalty, and a beautiful, profound meditation on the truly human forces that drive them. It is disturbing, insightful, and mesmerizing in equal measure. ...more')

In [26]:
records = client.execute('SELECT * FROM books.books_toscrape_com')
df_records = pd.DataFrame(records, columns=['id', 'category', 'name', 'price', 'available', 'description'])
df_records.head()

,id,category,name,price,available,description
0,The Long Shadow of Small Ghosts: Murder and Me...,Crime,The Long Shadow of Small Ghosts: Murder and Me...,10.97,15,In Cold Blood meets Adrian Nicole LeBlanc’s Ra...
1,Dark Notes,Erotica,Dark Notes,19.19,15,They call me a slut. Maybe I am.Sometimes I do...
2,10-Day Green Smoothie Cleanse: Lose Up to 15 P...,Health,10-Day Green Smoothie Cleanse: Lose Up to 15 P...,49.71,10,The 10-Day Green Smoothie Cleanse will jump-st...
3,Amid the Chaos,Cultural,Amid the Chaos,36.58,15,Some people call Eritrea the “North Korea of A...
4,Equal Is Unfair: America's Misguided Fight Aga...,Politics,Equal Is Unfair: America's Misguided Fight Aga...,56.86,12,We’ve all heard that the American Dream is van...

In [28]:
music_records = client.execute("SELECT * FROM books.books_toscrape_com WHERE category = 'Music'")
df_travel_records = pd.DataFrame(music_records, columns=df_records.columns)
df_travel_records.head(20)

,id,category,name,price,available,description
0,"Chronicles, Vol. 1",Music,"Chronicles, Vol. 1",52.60,7,"""I'd come from a long ways off and had started..."
1,Forever Rockers (The Rocker #12),Music,Forever Rockers (The Rocker #12),28.80,1,My Happily Ever After was turning into a livin...
2,How Music Works,Music,How Music Works,37.32,19,How Music Works is David Byrne’s remarkable an...
3,Kill 'Em and Leave: Searching for James Brown ...,Music,Kill 'Em and Leave: Searching for James Brown ...,45.05,8,National Book Award winner James McBride goes ...
4,Life,Music,Life,31.58,2,"With the Rolling Stones, Keith Richards create..."
5,Love Is a Mix Tape (Music #1),Music,Love Is a Mix Tape (Music #1),18.03,14,"In this stunning memoir, Rob Sheffield, a vete..."
6,No One Here Gets Out Alive,Music,No One Here Gets Out Alive,20.02,4,Here is Jim Morrison in all his complexity-sin...
7,Old Records Never Die: One Man's Quest for His...,Music,Old Records Never Die: One Man's Quest for His...,55.66,1,"Foreword by Wilco's Jeff Tweedy""Memories are f..."
8,Orchestra of Exiles: The Story of Bronislaw Hu...,Music,Orchestra of Exiles: The Story of Bronislaw Hu...,12.36,4,The compelling biography of the violinist who ...
9,Our Band Could Be Your Life: Scenes from the A...,Music,Our Band Could Be Your Life: Scenes from the A...,57.25,19,This is the never-before-told story of the mus...
10,Please Kill Me: The Uncensored Oral History of...,Music,Please Kill Me: The Uncensored Oral History of...,31.19,8,A Time Out and Daily News Top Ten Book of the ...
11,Rip it Up and Start Again,Music,Rip it Up and Start Again,35.02,19,"Punk's raw power rejuvenated rock, but by the ..."
12,This Is Your Brain on Music: The Science of a ...,Music,This Is Your Brain on Music: The Science of a ...,38.40,5,"Whether you load your iPod with Bach or Bono, ..."

In [29]:
AVAILABLE_1 = 10
AVAILABLE_2 = 15
range_records = client.execute(f"SELECT * FROM books.books_toscrape_com WHERE available BETWEEN {AVAILABLE_1} AND {AVAILABLE_2}")
df_range_records = pd.DataFrame(range_records, columns=df_records.columns)
df_range_records

,id,category,name,price,available,description
0,The Long Shadow of Small Ghosts: Murder and Me...,Crime,The Long Shadow of Small Ghosts: Murder and Me...,10.97,15,In Cold Blood meets Adrian Nicole LeBlanc’s Ra...
1,Dark Notes,Erotica,Dark Notes,19.19,15,They call me a slut. Maybe I am.Sometimes I do...
2,10-Day Green Smoothie Cleanse: Lose Up to 15 P...,Health,10-Day Green Smoothie Cleanse: Lose Up to 15 P...,49.71,10,The 10-Day Green Smoothie Cleanse will jump-st...
3,Amid the Chaos,Cultural,Amid the Chaos,36.58,15,Some people call Eritrea the “North Korea of A...
4,Equal Is Unfair: America's Misguided Fight Aga...,Politics,Equal Is Unfair: America's Misguided Fight Aga...,56.86,12,We’ve all heard that the American Dream is van...
...,...,...,...,...,...,...
287,"Wonder Woman: Earth One, Volume One (Wonder Wo...",Sequential Art,"Wonder Woman: Earth One, Volume One (Wonder Wo...",37.34,14,Following the New York Times #1 bestselling or...
288,You (You #1),Thriller,You (You #1),43.61,14,"When a beautiful, aspiring writer strides into..."
289,You Are What You Love: The Spiritual Power of ...,Religion,You Are What You Love: The Spiritual Power of ...,21.87,15,You are what you love. But you might not love ...
290,Zealot: The Life and Times of Jesus of Nazareth,History,Zealot: The Life and Times of Jesus of Nazareth,24.70,14,From the internationally bestselling author of...
291,salt.,Poetry,salt.,46.78,14,Salt is a journey through warmth and sharpness...

In [30]:
sorted_records = client.execute("SELECT * FROM books.books_toscrape_com ORDER BY available DESC")
df_sorted_records = pd.DataFrame(sorted_records, columns=df_records.columns)
df_sorted_records.head(10)

,id,category,name,price,available,description
0,A Light in the Attic,Poetry,A Light in the Attic,51.77,22,It's hard to imagine a world without A Light i...
1,Tipping the Velvet,Historical Fiction,Tipping the Velvet,53.74,20,"""Erotic and absorbing...Written with starling ..."
2,Soumission,Fiction,Soumission,50.10,20,"Dans une France assez proche de la nôtre, un h..."
3,Sharp Objects,Mystery,Sharp Objects,47.82,20,"WICKED above her hipbone, GIRL across her hear..."
4,Sapiens: A Brief History of Humankind,History,Sapiens: A Brief History of Humankind,54.23,20,From a renowned historian comes a groundbreaki...
5,Libertarianism for Beginners,Politics,Libertarianism for Beginners,51.33,19,Libertarianism isn't about winning elections; ...
6,The Requiem Red,Young Adult,The Requiem Red,22.65,19,Patient Twenty-nine.A monster roams the halls ...
7,The Dirty Little Secrets of Getting Your Dream...,Business,The Dirty Little Secrets of Getting Your Dream...,33.34,19,Drawing on his extensive experience evaluating...
8,The Coming Woman: A Novel Based on the Life of...,Default,The Coming Woman: A Novel Based on the Life of...,17.93,19,"""If you have a heart, if you have a soul, Kare..."
9,The Boys in the Boat: Nine Americans and Their...,Default,The Boys in the Boat: Nine Americans and Their...,22.60,19,For readers of Laura Hillenbrand's Seabiscuit ...

In [31]:
multi_sorted_records = client.execute("SELECT * FROM books.books_toscrape_com ORDER BY available ASC, price DESC")
df_multi_sorted_records = pd.DataFrame(multi_sorted_records, columns=df_records.columns)
df_multi_sorted_records.head(1000)

,id,category,name,price,available,description
0,Listen to Me (Fusion #1),Romance,Listen to Me (Fusion #1),58.99,1,In New York Times and USA Today bestselling au...
1,Myriad (Prentor #1),Fantasy,Myriad (Prentor #1),58.75,1,Alternate Cover Edition: 14783849642016 Revise...
2,Shameless,New Adult,Shameless,58.35,1,***USA TODAY BESTSELLER***Brady…What the hell ...
3,Travels with Charley: In Search of America,Nonfiction,Travels with Charley: In Search of America,57.82,1,An intimate journey across and in search of Am...
4,The No. 1 Ladies' Detective Agency (No. 1 Ladi...,Mystery,The No. 1 Ladies' Detective Agency (No. 1 Ladi...,57.70,1,The No.1 ladies' detective agency consists of ...
...,...,...,...,...,...,...
995,Sapiens: A Brief History of Humankind,History,Sapiens: A Brief History of Humankind,54.23,20,From a renowned historian comes a groundbreaki...
996,Tipping the Velvet,Historical Fiction,Tipping the Velvet,53.74,20,"""Erotic and absorbing...Written with starling ..."
997,Soumission,Fiction,Soumission,50.10,20,"Dans une France assez proche de la nôtre, un h..."
998,Sharp Objects,Mystery,Sharp Objects,47.82,20,"WICKED above her hipbone, GIRL across her hear..."
999,A Light in the Attic,Poetry,A Light in the Attic,51.77,22,It's hard to imagine a world without A Light i...

In [32]:
count_records = client.execute("SELECT AVG(price) FROM books.books_toscrape_com")
print("Средняя цена:", round(count_records[0][0], 2))

Средняя цена: 35.07

In [33]:
category_count_records = client.execute("SELECT category, COUNT(*) FROM books.books_toscrape_com GROUP BY category")
df_category_count_records = pd.DataFrame(category_count_records, columns=['category', 'count'])
df_category_count_records

              category  count
0              Romance     35
1                Humor     10
2              Mystery     32
3             Suspense      1
4              Default    152
5               Health      4
6              Erotica      1
7               Poetry     19
8             Cultural      1
9               Horror     17
10            Thriller     11
11             Science     14
12            Business     12
13             Fantasy     48
14            Politics      3
15             History     18
16            Classics     19
17               Music     13
18                 Art      8
19             Fiction     65
20            Religion      7
21            Academic      1
22              Travel     11
23              Novels      1
24               Crime      1
25        Spirituality      6
26       Add a comment     67
27          Philosophy     11
28       Short Stories      1
29       Autobiography      9
30           Christian      3
31      Womens Fiction     17
32          Paranormal      1
33          Historical      2
34       Adult Fiction      1
35          Nonfiction    110
36        Contemporary      3
37      Sequential Art     75
38      Food and Drink     30
39           Parenting      1
40           Biography      5
41    Sports and Games      5
42           Self Help      5
43           Childrens     29
44          Psychology      7
45           New Adult      6
46     Science Fiction     16
47         Young Adult     54
48  Historical Fiction     26
49   Christian Fiction      6

In [35]:
avg_crash_date = client.execute("SELECT AVG(price) FROM books.books_toscrape_com WHERE category = 'Music'")
print("Средняя цена книги в категории Музыка:", round(avg_crash_date[0][0], 2))

Средняя цена книги в категории Музыка: 35.64